
task_1/.vs/task_1/v16/ipch/AutoPCH/4e02f4cb8edaac8/MAIN.ipch
task_1/x64/Debug/task_1.vcxproj.FileListAbsolute.txt
task_1/.vs/task_1/v16/Browse.VC.db-wal
task_1/x64/Debug/task_1.tlog/task_1.lastbuildstate
task_1/.vs/task_1/v16/.suo
*.db
*.ipch
*.obj
*.exe
*.recipe
*.ilk
*.log
*.pdb
*.tlog
*.idb
*.opendb
*.db-wal
*.db-shm
task_2/.vs/task_2/v16/.suo
task_2/hashTable.dat
