
task_1/.vs/task_1/v16/ipch/AutoPCH/4e02f4cb8edaac8/MAIN.ipch
task_1/x64/Debug/task_1.vcxproj.FileListAbsolute.txt
task_1/.vs/task_1/v16/Browse.VC.db-wal
task_1/x64/Debug/task_1.tlog/task_1.lastbuildstate
task_1/.vs/task_1/v16/.suo
*.db
*.ipch
*.obj
*.exe
*.recipe
*.ilk
*.log
*.pdb
*.tlog
*.idb
*.opendb
*.db-wal
*.db-shm
task_2/.vs/task_2/v16/.suo
task_2/hashTable.dat
task_2/zxc.txt
task_2/hashTable.txt
task_2/Debug/main.obj.enc
task_2/Debug/main.obj.enc
*.enc
*.user
*.filters
*.txt
task_2_open_addressing/task_2/.vs/task_2/v16/.suo
task_2_open_addressing/.vs/task_2/v16/.suo
*.json
*.sqlite
task_2_chain/.vs/task_2_chain/v16/.suo
task_2_open_addressing/.vs/task_2/v16/.suo
task_2_open_addressing/.vs/task_2/v16/.suo
task_2_chain/.vs/task_2/v16/.suo
task_2_chain/.vs/task_2/v16/.suo
task_2_open_addressing/.vs/task_2/v16/.suo
task_2_open_addressing/Debug/task_2.vcxproj.FileListAbsolute.txt
task_2_open_addressing/hashTable.dat
task_2_open_addressing/.vs/task_2/v16/.suo
task_2_open_addressing/Debug/task_2.vcxproj.FileListAbsolute.txt
task_2_open_addressing/hashTable.dat
*.iml
*.xml
*.cmake
*.bin
cmake-build-default-mingw/CMakeFiles/3.20.2/CompilerIdC/CMakeCCompilerId.c
cmake-build-default-mingw/CMakeFiles/3.20.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
*.check_cache
cmake-build-default-mingw/CMakeFiles/feature_tests.cxx
cmake-build-default-mingw/CMakeFiles/Makefile2
*.make
*.includecache
*.internal
*.rsp
*.a
*.marks
cmake-build-default-mingw/Makefile
*.cbp
task_5/.vs/task_5/v16/.suo
.vs/mireaDSaA/v16/.suo
